data/
datasets/
outputs/
renders/
features/
checkpoints/
dist_cache/
logs/
wandb/
/configs/*.yml
!/configs/base.yml
*.pkl
*.pt
*.pth
*.ckpt
*.npy
*.wav
*.jpeg
*.jpg
*.png
*.mp4
*.mov
*.avi
*.log
camera_path.json
# Nerfstudio / cache-ish
wandb/
*.glb
*.ply
*.csv
*.json
# Python cruft
__pycache__/
*.py[cod]
.venv/
venv/
env/
.ipynb_checkpoints/

# VS Code
.vscode/
.venv/.git-credentials
.git-credentials
references_furnished.json
references_empty.json
references_empty_fixed.json
references_furnished_fixed.json